{% extends 'base.html' %}
{% load static %}

    {% block head_style %}
    <style>
        .card-title{
            cursor: pointer;
            text-decoration: underline;
        }
        .fa-info{
            cursor: pointer;
        }
        
    </style>
    {% endblock %}
    
    {% block page_content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Add Server</h1>
                                </div>
                                <form class="user" method="post">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-6">
                                            <div class="form-group ">
                                                <label for="hardware-name">Server Type:</label>
                                                <select class="form-control" name="stype">
                                                    <option>Select</option>
                                                    {% for stype in stypes %}
                                                    <option value="{{stype.id}}">{{stype.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="model">CPU Model:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="cpu_model" placeholder="">
                                            </div>

                                            <div class="form-group">
                                                <label for="memory">Memory:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="memory" placeholder="Total,used,and Free">
                                            </div>
                                            <div class="form-group">
                                                <label for="storage">Storage:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="storage" placeholder="Disks,Partitions,RAID Configurations">
                                            </div>
                                            <div class="form-group">
                                                <label for="network">Network Information:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="network_info" placeholder="NIC modle,Speed,Status">
                                            </div>
                                            <div class="form-group">
                                                <label for="firmware">FirmWare/BIOS version:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="firmware_version" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="power">Power and Cooling:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="power_cooling" placeholder="Fan speed,power supply status">
                                            </div>
                                            <div class="form-group">
                                                <label for="cpu">CPU Utilization:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="cpu_utilisation" placeholder="per core or aggregate">
                                            </div>
                                            <div class="form-group">
                                                <label for="load">Load Average:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="load_average" placeholder="1,5, 15-minute intervals">
                                            </div>
                                            <div class="form-group">
                                                <label for="Osversion">OS Version and Kernel Version:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="os_version" placeholder="">
                                            </div>
                                            
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group ">
                                                <label for="hardware-name">Hardware Name:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="hardware_name"  aria-describedby="emailHelp"
                                                    placeholder="">
                                            </div>
                                            <div class="form-group ">
                                                <label for="hypervisor">Hypervisor details:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="hypervisor_details"  aria-describedby="emailHelp"
                                                    placeholder="KVM,VMware ESXi,etc.">
                                            </div>
                                            <div class="form-group">
                                                <label for="IP">IP address and subnet:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="ip_address" placeholder="">
                                            </div>

                                            <div class="form-group">
                                                <label for="mac">MAC address:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="mac_address" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="routing">Routing tables:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="routing_tables" placeholder="Disks,Partitions,RAID Configurations">
                                            </div>
                                            <div class="form-group">
                                                <label for="dns">DNS and DHCP configurations:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="dns_dhp" >
                                            </div>
                                            <div class="form-group">
                                                <label for="Switch">Switch Information:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="switch_info" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="idrac">iDRAC IP Address:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="idrac_ip" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="pxe">PXE Address:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="pxe_address" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="domain">Domain:</label>
                                                <input type="text" class="form-control form-control-user"
                                                    name="domain" placeholder="">
                                            </div>
                                        
                                            
                                        </div>
                                    </div>

                                    <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button>
                                    
                                </form>
                            
                            </div>
                        </div>
                    </div>
                   
                   
                </div>
                <!-- /.container-fluid -->
    {% endblock %}