{% extends 'base.html' %}
{% load static %}

    {% block head_style %}
    <style>
        .card-title{
            cursor: pointer;
            text-decoration: underline;
        }
        .fa-info{
            cursor: pointer;
        }
        
    </style>
    {% endblock %}
    
    {% block page_content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Add Vms</h1>
                                </div>
                                <form class="user" method="post">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-6">
                                            <input type="hidden" value="{{data}}" id="vm_data">
                                            <input type="hidden" id="vm_id" value="{{vm_id}}">
                                            <div class="form-group ">
                                                <label for="hardware-name">Server:</label>
                                                <select class="form-control" name="server">
                                                    <option>Select</option>
                                                    {% for server in servers %}
                                                    <option value="{{server.id}}">{{server.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group ">
                                                <label for="vcpu">vCPU count and allocation:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="vcpus"  placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="memory">Assigned memory:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="memory" placeholder="">
                                            </div>

                                            <div class="form-group">
                                                <label for="disk">Disk space:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="disk_space" placeholder="virtual disks,storagge type">
                                            </div>
                                            <div class="form-group">
                                                <label for="network">Network interfaces:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="network_interface" placeholder="virtual NICs,ip addresses,GW,Subnet">
                                            </div>
                                            <div class="form-group">
                                                <label for="vm">VM Guest OS version and architecture:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="guest_os" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="vcpu">vCPU Utilization:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="vcpu_utilisation" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="usage">Memory Usage:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="memory_usage" placeholder="Guest memory,active memory">
                                            </div>
                                            
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group ">
                                                <label for="disk">Name:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="name"  aria-describedby="emailHelp" placeholder="VM name">
                                            </div>
                                            <div class="form-group ">
                                                <label for="disk">Disk I/O performance:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="disk_io"  aria-describedby="emailHelp" placeholder="reads.writes,latency">
                                            </div>
                                            <div class="form-group">
                                                <label for="load">Load Average:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="load_average" placeholder="">
                                            </div>

                                            <div class="form-group">
                                                <label for="io">I/O wait:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="io_wait" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="swap">Swap usage:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="swap_usage" placeholder="">
                                            </div>
                                            <div class="form-group">
                                                <label for="type">Application Type/Name:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="app_type" >
                                            </div>
                                            <div class="form-group">
                                                <label for="mots">MOTS ID:</label>
                                                <input type="text" class="form-control form-control-user"
                                                name="mots_id" placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button>
                                    
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>
    {% endblock %}


{% block java_scripts %}
<script>
    $(document).ready(function(){
        sid = $("#vm_id").val();
        if (sid != null && sid != ""){
            data = JSON.parse($("#vm_data").val());
            console.log(data);
            $.each(data, function(k,v){
                $(`input[name=${k}]`).val(v);
            });
            $("select[name=server]").val(data['server']);
        }
    });
</script>
{% endblock %}