{% extends 'base.html' %}
{% load static %}



    
    {% block page_content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 font-weight-bold" style="color: #000000;">VMs for server</h1>
                        <a href="/add-vm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa-solid fa-plus"></i> Add VMs</a>
                    </div>
                    <div class="row">
                        <!-- Vm 1 Card -->
                        <div class="col" style="padding-top:1em;">
                            <table class="table table-hover table-bordered">
                                <thead style="background-color: #c3d1ff;">
                                    <tr style="color:#000">
                                        <th>Name</th>
                                        <th>Host</th>
                                        <th>Status</th>
                                        <th>Vcpus</th>
                                        <th>Memory</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vm in vms %}
                                    <tr>
                                        <td>
                                            <a href="#" style="color:#858796;text-decoration: underline;">{{vm.name}}</a></td>
                                        <td>{{vm.server.name}}</td>
                                        <td><span class="text-success"><i class="fas fa-check-circle status-icon"></i> UP</span></td>
                                        <td>{{vm.vcpus}}</td>
                                        <td>{{vm.memory}}</td>
                                        <td>
                                            <button href="#" class="btn btn-info btn-circle btn-sm"  onclick="load_server('{{vm.id}}')">
                                                <i class="fas fa-info-circle"></i>
                                            </button>
                                            <a href="/edit-vm/{{vm.id}}" class="btn btn-warning btn-circle btn-sm">
                                                <i class="fas fa-pen-to-square"></i>
                                            </a>
                                            <a href="#" class="btn btn-danger btn-circle btn-sm" onclick="delete_resource('vm', '{{vm.id}}', '{{vm.name}}')">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% for vm in vms %}
                            <div id="table_{{vm.id}}" style="display: none;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Details of {{vm.name}}</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                              <th scope="col">Property</th>
                                              <th scope="col">Value</th>
                                            </tr>
                                          </thead>
                                    
                                        <tr>
                                            <td>VM Name</td><td>{{vm.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>vCPUs</td><td>{{vm.vcpus}}</td>
                                        </tr>
                                        <tr>
                                            <td>Memory</td><td>{{vm.memory}}</td>
                                        </tr>
                                        <tr>
                                            <td>Disk Space</td><td>{{vm.disk_space}}</td>
                                        </tr>
                                        <tr>
                                            <td>Network Interface</td><td>{{server.network_interface}}</td>
                                        </tr>
                                        <tr>
                                            <td>vCPU Utilization</td><td>{{server.vcpu_utilisation}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
    {% endblock %}
    