{% extends 'base.html' %}
{% load static %}



    
    {% block page_content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">VMs for server</h1>
                        <a href="addvms.html" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa-solid fa-plus"></i> Add VMs</a>
                    </div>
                    <div class="row">
                        <!-- Vm 1 Card -->
                        {% for vm in vms %}
                        <div class="col-md-3" style="padding-top:1em;">
                            <div class="card server-card shadow">
                                <div class="card-body text-center" style="font-size: 0.6em;">
                                    <i class="fas fa-desktop server-icon"></i>
                                    <h5 class="card-title mt-3">{{vm.name}}</h5>
                                    <p class="card-text"><strong>MOTS ID:</strong> {{vm.mots_id}}</p>
                                    <p class="card-text"><strong>Status:</strong> <span class="text-success"><i class="fas fa-check-circle status-icon"></i> Online</span></p>
                                    <p class="card-text"><strong>CPU Usage:</strong> {{vm.vcpu_utilisation}}</p>
                                    <p class="card-text"><strong>Memory Usage:</strong> {{vm.memory_usage}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <!-- /.container-fluid -->
    {% endblock %}
    